@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/css/homePage.css" />

<div class="text-center">
    <h1 class="display-4" style="color:white">Welcome</h1>
    <p style="color:white">Browse this site for a collection of my favourite books.</p>
</div>
